Common/Library/
Common/Logs/Packages-Update.log
Common/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Common/Temp/UnityLockfile
Common/Temp/
Common/Assets/Plugins/Editor/JetBrains/
*.csproj
*.sln
Common/Common.sln.DotSettings.user
Common/.idea/
.idea/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/
Library/
Temp/
Common.sln.DotSettings.user
Logs/
obj/
